
.nav-menu-content li a{
    font-size: 25px !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    color: black !important;

}
.dropdown-item{
    font-weight: 500 !important;
}
.carousel-item {
    height: 80vh !important; 
  }
  
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slider-text{
    font-size: 70px;
    font-weight: 800;
    color: #63AB45;
  }


.brand-color{
  background-color: #63AB45 !important;
  color: #fff !important;
}

li{
  list-style-type: none !important;
}
.btn-outline-secondary{
  border:none !important;
  text-align: start !important;
}
.navMenuItem a:hover{
  color: rgba(6, 193, 102, 0.831) !important;
  text-decoration: underline !important;
  

}
.navbar-menu-container {
  position: sticky;
  top: 0; 
  width: 100%;
  z-index: 1000; 
}
.homepage-navbar {
  position: relative; 
  overflow: visible;
}


